In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import mean

spark = SparkSession.builder.appName('Basics').getOrCreate()

In [2]:
df = df = sqlContext.sql ("SELECT * FROM containsnull_csv")

In [3]:
df.show()

In [4]:
#df.na.drop(thresh = 2).show() 
#df.na.drop(how = 'all').show()
#df.na.drop(how = 'any').show()
#df.na.drop(subset = ['Sales']).show()
#df.na.fill('FILL VALUE').show() #fill all null string types with string'fill value'
#df.na.fill(0).show() #fill all null integer types with integer '0'
#df.na.fill('No Name', subset = ['Name']).show() #target 'Name' column to replace missing values with 'no name'

In [5]:
mean_val = df.select(mean(df['Sales'])).collect() # store the mean value of sales 
mean_sales = mean_val[0][0] # indexing the actual mean value from the row

In [6]:
df.na.fill(mean_sales, subset = ['Sales']).show() #filling the values of 'sales' with mean value of sales

In [7]:
df.na.fill(df.select(mean(df['Sales'])).collect()[0][0], subset = ['Sales']).show()